.eachProduct {
    display: flex;
    padding: 30px 0;
    border-bottom: 1px solid #ececec;
}
.eachProduct img{
    width: 200px;
    margin-right: 20px;
}
.productContent button{
    background-color: #f0c14b;
    padding: 5px 25px;
    border-radius: 4px;
    border: 1px solid #ca9a22;
}